<!DOCTYPE html>
<html>
  <head>
    <title>MPJC Foto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', :defer => "defer" %>
    <% if current_user || request.path == '/users/sign_in' || request.path == 'admin' || request.path == '/users/sign_up' %>
    <%= render 'layouts/navigation' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

 <% else %>
 <%= render 'layouts/coming_soon' %>
  </head>
</html>
<% end%>
