<!DOCTYPE html>
<html>
  <head>
    <title>MPJC Foto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', :defer => "defer" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#405359">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <% if current_user || request.path == '/users/sign_in' || request.path == 'admin' || request.path == '/users/sign_up' %>
  </head>

  <body>
    <%= render 'layouts/messages' %>
    <%= react_component("SiteRouter", props: {}, prerender: false) %>
    <%= yield %>
  </body>
</html>

 <% else %>
 <%= render 'layouts/coming_soon' %>
  </head>
</html>
<% end%>
