<!DOCTYPE html>
<html>
  <head>
    <title>Mpjcfoto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', :defer => "defer" %>
    <%= render 'layouts/navigation' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
